.App {
  text-align: center;
}
.Post {
  width: 4961;
  width: 100%;
  display: table;
  margin: 0 auto;
  padding: 20px 50px;
  font-family: "DejaVu Sans", "Arial", sans-serif;
}

header {
  
  background-image: url(assets/img/bg-topo.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid #3b0304;
  color: #FFFFFF;
}
footer {
  color: #CCC;
  margin-top: 100px;
  background:#510e16!important;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid #510e16;
}
